.container {
  margin: 50px auto;
  width: 50%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

input[type="file"] {
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #cc5801;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.container .viewbtn {
  background-color: #ccc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.pdf-container {
  background-color: #ccc;
  margin: 50px auto;
  width: 50%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}


h3 {
  font-style: normal;
}
